// ------ BUTTONS ------ //

@mixin default-button {
	border: none;
	padding: 10px 22px;
	display: inline-block;
	@include border-radius(5px, 5px);
	@include font-size: $global-font-size;
}

.btn {
	@include default-button();
}
