// ------ RESET ------ //

// Reset of choice should be placed here. Lucid recommends http://necolas.github.io/normalize.css

// ------ HEADINGS ------ //

h1 {
	@include font-size($global-h1);
}

h2 {
	@include font-size($global-h2);
}

h3 {
	@include font-size($global-h3);
}

h4 {
	@include font-size($global-h4);
}

h5 {
	@include font-size($global-h5);
}

h6 {
	@include font-size($global-h6);
}

// ------ LISTS ------ //

li{
    > ul,
    > ol{
         margin-bottom:0;
     }
}

body {
	font-family: $gobal-font-family;
}

// ------ LINKS ------ //

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: lighten($link-color, 10%);
		text-decoration: underline;	
	}
}
