/* ====== DEFAULTS ======
Redefine these in overrides.scss
*/

$lucid-version:       1;

// ------ BASE ------ //

$global-font-size:		16px!default;
$global-line-height:	24px!default;

$global-font-family:	sans-serif!default;

// ------ CONTAINER WIDTHS ------ //

$body-width:      920px!default;
$body-gutter:     20px!default;

// ------ TYPOGRAPHY ------ //

$gobal-font-family:   Helvetica,Arial,sans-serif!default;

$georgia:             Georgia, Cambria, "Times New Roman", Times, serif!default;
$helvetica:           "Helvetica Neue", Helvetica, Arial, sans-serif!default;
$lucida-grande:       "Lucida Grande", Tahoma, Verdana, Arial, sans-serif!default;
$monospace:           "Bitstream Vera Sans Mono", Consolas, Courier, monospace!default;
$verdana:             Verdana, Geneva, sans-serif!default;

// These are based on REM values: pixel size / $global-font-size
$global-h1:				2.25!default;
$global-h2:				2!default;
$global-h3:				1.5!default;
$global-h4:				1.25!default;
$global-h5:				1!default;
$global-h6:				0.875!default;

// ------ DEFAULT PATHS ------ //

$assetpath:      /images!default;

// ------ SIZES ------ //

// Responsive

$res-large:				62.5em!default;
$res-medium:			60em!default;
$res-small:				40.625em!default;

// ------ GRID CONTAINERS ------ //

$container-width:		1020!default;
$num-columns:			9!default;
$column-width:			76!default;

// ------ GENERAL COLOURS ------ //

$border-color:  #ccc!default;  
$link-color: 	#5E5E5E!default;

// Some flat UI colours

$turquoise: 	#1abc9c!default;
$emerland: 		#2ecc71!default;
$peterriver: 	#3498db!default;
$amethyst: 		#9b59b6!default;
$wetasphalt: 	#34495e!default;
$greensea: 		#16a085!default;
$nephritis: 	#27ae60!default;
$belizehole: 	#2980b9!default;
$wisteria: 		#8e44ad!default;
$midnightblue: 	#2c3e50!default;
$sunflower: 	#f1c40f!default;
$carrot: 		#e67e22!default;
$alizarin: 		#e74c3c!default;
$clouds: 		#ecf0f1!default;
$concrete: 		#95a5a6!default;
$orange: 		#f39c12!default;
$pumpkin: 		#d35400!default;
$pomegranate: 	#c0392b!default;
$silver: 		#bdc3c7!default;
$asbestos: 		#7f8c8d!default;
