/* ====== DEFAULTS ======
Redefine these in overrides.scss
*/

$lucid-version:       1;

// ------ BASE ------ //

$global-font-size:		16px!default;
$global-line-height:	24px!default;

$global-font-family:	sans-serif!default;

// ------ FONT SIZES ------ //

// These are based on REM values: pixel size / base size

$global-h1:				2.25!default;
$global-h2:				2!default;
$global-h3:				1.5!default;
$global-h4:				1.25!default;
$global-h5:				1!default;
$global-h6:				0.875!default;

// ------ SIZES ------ //

// General

// Responsive

$res-large:				62.5em!default;
$res-medium:			60em!default;
$res-small:				40.625em!default;

// ------ GRID CONTAINERS ------ //

$container-width:		1020!default;
$num-columns:			9!default;
$column-width:			76!default;
